.head{
    font-size: 50px;
    text-align: center;
}
body{
    width: 95%;
    padding: 0;
    margin-left: auto;
}
.Schedule_table table{
    margin-left: auto;
    margin-right: auto;
    
}
.Schedule_table table tr th{
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(184, 184, 254);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
}

.Schedule_table table tr td{
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    padding-left: 10px;
}

.Schedule_table table tr td:first-child{
    text-align: center;
    padding-left: 0;
}
.Detail_table{
    margin-left: 20px;
}
.Detail_table tr td{
    text-align: left;
    min-width: 200px;
}
.Detail_table tr td form button{
    border: 0px;
    padding: 0;
}
.Attendance_table table{
    margin-left: auto;
    margin-right: auto;
}
.Attendance_table table thead tr th{
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(184, 184, 254);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
}
.Attendance_table table tbody tr td{
    border: solid 1px;
    padding: 10px 20px;
    border-color: rgb(0, 0, 0);
    text-align: center;
}
.last{
    text-align: center;
}